@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #0f172a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}
